p{
  margin: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.MuiList-root{
  padding: 0px !important;
  box-shadow: none !important;
}

.MuiDialog-paper{
  border-radius: 15px !important;
}

.MuiMenu-list{
  box-shadow: none !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  box-shadow: none !important;
}

#logincard:active{
  background-color: #E7F1FE;

}

#login-button:active{
  border: none !important;
  background-color: #2584F4 !important;
  color: white !important;
}

.collapsible {
  height: 0rem;
  transition: height 0.25s linear;
  border-radius: 0.25rem
}
.collapsible.active {
  height: 156px;
}

.css-eg0mwd-MuiSlider-thumb{
  background-color: white !important;
  border: 3px solid !important;
}
.css-1exqwzz-MuiSnackbarContent-message{
  width: 100%;
}